@using Mamba2.Models
@model Category
<form method="post">
    <div class="table table-bordered">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" asp-for="Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>